.container-verify{
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

.title-verify{
    padding-bottom: 60px;
}

.lodaing-verify{
    width: 150px;
    margin: auto;
}

.box-loading{
    width: 150px;
    margin: auto;
    margin-top: 13%;
}